@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');
@keyframes rotation {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
/* #region Global */
:root {
	--text: #fff;

	--background: #34353a;
	--background-sec: #3d3e42;

	--primary-button: #323549;
	--secondary-button: #dedfe8;
	--accent: #ffc86b;
	--accent-light: #595a62;
}

html {
	scroll-behavior: smooth !important;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	color: var(--text);
	font-family: 'Outfit', sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	background-color: var(--background);
}
p {
	text-wrap: balance;
}

.sbox {
	padding: 1.5rem;
	border-radius: 16px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.button,
.button.outline {
	display: inline-block;
	padding: 10px 10px;
	border: 0px solid #000;
	border-radius: 8px;
	background-color: var(--accent);
	color: var(--background);
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	text-decoration: none;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.button.outline {
	border: 3px var(--accent) solid;
	background-color: rgba(0, 0, 0, 0);
	color: var(--accent);
}
.button:hover {
	transform: scale(1.05);
}
.button:active {
	transform: scale(0.95);
}

.img {
	display: block;
	width: 100%;
}
.title.boder {
	border-bottom: 2px var(--accent) solid;
}
/* #endregion */

/* #region header */
header {
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: var(--background);
}

.header {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
}
.logo i,
.logo h2 {
	color: var(--accent);
}

.Menu_options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.Menu_options_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.hoverEffect {
	position: relative;
	font-weight: 500;
}

.hoverEffect::before {
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	transform: scale(0);
	transform-origin: center;
	transition: transform 400ms ease;
	background-color: var(--accent);
	content: '';
}

.hoverEffect:hover::before {
	transform: scale(1);
}

/* #endregion */

/* #region Hero section */
section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 550px;

	padding: 70px 0 70px 0;
}

.section_1 {
	position: relative;
	height: 800px;
}

.container_section1 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	gap: 3rem;
}

.conteudo_1 {
	text-wrap: balance;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	gap: 1rem;
	font-size: 24px;
}
.title {
	font-size: 2rem;
}

.title .name {
	color: var(--accent);
	font-size: 3rem;
}

#eufoto {
	border-radius: 50%;
}
.eufoto {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 50%;
	max-width: 450px;
	border: solid 3px var(--accent);
	border-radius: 50%;
}

.eufoto::before {
	position: absolute;
	content: '';
	width: 110%;
	height: 110%;
	border-radius: 50%;
	border: var(--accent) 2px dashed;
	animation: rotation 5s infinite;
}

.social_icons {
	display: flex;
	position: absolute;
	top: 80%;
	right: 0;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.social_icons i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--accent);
	color: var(--background);
	font-size: 2rem;
	transition: transform ease 0.2s;
}

.social_icons i:hover {
	transform: scale(1.05);
}

.social_icons i:active {
	transform: scale(0.95);
}
/* #endregion */

/* #region About me section */
.section_2 {
	background-color: var(--background-sec);
}

.conteudo_2 {
	width: 70%;
	margin: 0 auto;
}

.texts_2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}
.title {
	width: fit-content;
}

.texts_2 p {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
}
/* #endregion */

/* #region Skills section */
.conteudo_3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	gap: 2rem;
}
.tabs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	padding: 2rem;
	gap: 1.5em;
	border-radius: 16px;
	background-color: var(--background-sec);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.skills p {
	font-size: 1.2rem;
}

.skillicons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 100px;
}

.skillicons img {
	max-width: 75px;
}
/* #endregion */

/* #region  Projects section*/
.section_4 {
	background-color: var(--background-sec);
}

.conteudo_4 {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 90%;
	gap: 3rem;
}

.categorias {
	display: flex;
	gap: 2rem;
}

.tabs_1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 1rem;
}

.slot {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 650px;
	gap: 1rem;
	background-color: var(--background);
}

.about {
	height: 140px;
	font-size: 14px;
}

.slotbuttons {
	display: flex;
	width: 100%;
	gap: 1rem;
}

.slotbuttons .button {
	width: 100%;
	text-align: center;
}

.tech {
	display: flex;

	flex-wrap: wrap;
	gap: 5px;
}

.tech span {
	display: flex;
	align-items: center;
	padding: 6px;
	border-radius: 8px;
	background-color: var(--accent);
	color: var(--background);
	font-size: 12px;
}
/* #endregion */

/* #region contatos */
.conteudo_5 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	gap: 7rem;
}

.titleLine {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.contatos {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 2rem;
}
.contacticons {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 400px;
	gap: 1rem;
	background-color: var(--background-sec);
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.contacticons a {
	color: var(--accent);
	text-decoration: underline;
	cursor: pointer;
}

.Buttonicon i {
	color: var(--text);
	font-size: 32px;
}

.conteudo_5 .social_icons {
	position: static;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.line {
	width: 100%;
	height: 2px;
	border: rgba(0, 0, 0, 0);
	border-bottom: 2px var(--accent) solid;
}
/* #endregion */

/* #region footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-sec);
}

footer p {
	padding: 5px;
}
/* #endregion */

/* ---------- responsive ---------- */

#menu_bar_button i {
	color: var(--background);
}

.menu_bar_background {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
}

.menu_bar_nav {
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 2rem;
	border-radius: 0 0 28px 28px;
	background-color: var(--background);
}

.Menu_bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.Menu_bar ul {
	align-items: center;
	justify-content: center;
}

.Menu_bar li {
	width: 100%;
	text-align: center;
}

.Menu_bar a {
	width: 100%;
}

#menu_bar_button {
	display: none;
}

@media screen and (min-width: 901px) {
	#menu_bar_nav,
	#menu_bar_button {
		display: none;
	}
}

@media screen and (max-width: 1150px) {
	.tabs {
		grid-template-columns: repeat(2, 1fr);
	}
	.tabs_1 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.menu_bar_nav,
	.Menu_options_list {
		display: none;
	}

	#menu_bar_button {
		display: flex;
	}

	.eufoto {
		width: 80%;
		height: auto;
		max-width: 500px;
		max-width: 500px;
	}

	.contatos {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 800px) {
	.section_1 {
		height: auto;
	}
	.conteudo_1 {
		text-align: center;
	}
	.container_section1 {
		flex-direction: column;
	}
	.tabs_1 {
		grid-template-columns: 1fr;
	}
	.container_section1 .social_icons {
		flex-direction: row;
		height: fit-content;
		top: 102%;
		left: 50%;
		width: fit-content;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 600px) {
	.tabs {
		grid-template-columns: 1fr;
	}
	.contacticons .email {
		font-size: 12px;
	}
}
